<tr>
  <td><%= word.id %></td>
  <td><%= word.content %></td>
  <td><%= word.meaning %></td>
  <td>
    <%= link_to "Edit", edit_admin_category_word_path(word.category, word), class: "btn btn-success" %>
    <%= link_to "Delete", admin_category_word_path(word.category, word), method: :delete,
      data: {confirm: "Bạn chắc chắn muốn xoá từ này?"},
      class: "btn btn-danger" %>
  </td>
</tr>
